In [1]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
#{key:value}

In [2]:
#zip method

for i,j in zip (list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [3]:
#dictionary

d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [4]:
d2={'25:Ram','30:Raheem','35:Robert'}
d2

{'25:Ram', '30:Raheem', '35:Robert'}

In [11]:
d3={(2,4,6):'even',
    (3,5,7):'odd'}
d3

#d3={[2,4,6]:'even',
    #[3,5,7]:'odd'}
#d3           #[]fail

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [10]:
d4={'even':(2,4,6),
    'odd':(3,5,7)}
d4

{'even': (2, 4, 6), 'odd': (3, 5, 7)}

In [12]:
d5={'item_list':{'fruits':'Apple'}}
d5

#d6={{'fruits':'Apple'}:'item_list'}
#d6          #error

{'item_list': {'fruits': 'Apple'}}

In [1]:
a=[1,2]
a

[1, 2]

In [2]:
c,d=(1,2)
d

2

In [4]:
a=1,2
a                 #tuple but it doesn't take it as list

(1, 2)

$#Dictionary is a $key:value$  pair$


$#At values position,we can take any datatype$


$#At key position, list and dictionary will fail...............only tuple will take$


$#duplicates are not allowed but in list duplicates r allowed$


$#if you will update a key value,latest value it will take$

In [6]:
d1={'A':1,'B':2,'A':1}
d1                                #duplicates r not allowed

{'A': 1, 'B': 2}

In [8]:
d3={'A':1,'B':2,'A':3}
d3                             #new pair will come

{'A': 3, 'B': 2}

**type**

In [13]:
type(d1)

dict

In [15]:
type(d3)

dict

$#OPERSTORS:-TYPE
             LEN
             MAX
             MIN
             SUM$

In [17]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
max(d1)                                #maximum & minimum value based on key only

'Robert'

In [18]:
min(d1)

'Raheem'

In [19]:
len(d1)

3

In [20]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [22]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
d1={100:25,
    300:30,
    4000:35}           
sum(d1)                #if key has numeric.....then we can do sum

4400

**IN**

In [25]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [26]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
'Ram' in d1

True

In [27]:
'Ram':25 in d1

SyntaxError: illegal target for annotation (2106383994.py, line 1)

In [28]:
25 in d1

False

In [29]:
for i in d1:
    print(i)               #key value will come

Ram
Raheem
Robert

In [30]:
str1='apple'
'a' in str1

True

In [31]:
l1=[1,2,3]
1 in l1

True

In [32]:
for i in l1:print(i)

1
2
3

**index**

In [33]:
l1=[10,20,30,40]
l1[0]

10

In [34]:
str1='apple'
str1[0]

'a'

In [35]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1[0]

KeyError: 0

In [36]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1['Ram']

25

In [37]:
#can we get values using for loop?
for i in d1:
    print(i)

Ram
Raheem
Robert

In [39]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

In [41]:
for key in range(len(d1)):
    print(key)

0
1
2

In [42]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [43]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

$#creating a empty dictionary and update$

In [45]:
s='  '
for i in 'apple':
    s=s+i

print(s)

  apple

In [47]:
l=[i for i in range(10)]
l=[]
for i in range(10):
    l.append(i)

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
d1={}
d1['fruit']='Apple'
d1

{'fruit': 'Apple'}

In [49]:
#WAP to create a database name=monika
                          #company=tcs
                          #study=btech
                          #place=hajipur

d1={}
d1['name']='Monika'
d1['company']='TCS'
d1['study']='B-tech'
d1['place']='hajipur'

d1

{'name': 'Monika', 'company': 'TCS', 'study': 'B-tech', 'place': 'hajipur'}

In [52]:
#WAP to create a dictionary based on 2 lists
#name=['Ram','Raheem','Robert']
#age=[25,30,35]

#METHOD1:
name=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i,j in zip(name,age):
    dict1[i]=j

dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [55]:
#METHOD2:
dict1={}
for i in range(len(name)):
    dict1[name[i]]=age[i]

dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [56]:
#METHOD3:

dict1={name[i]:age[i] for i in range(len(name))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

**DICTIONARY COMPREHENSION**

In [60]:
name=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i,j in zip(name,age):
    dict1[i]=j

dict1                        #DICTIONARY

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [61]:
dict1={name:age for name,age in zip (name,age)}
dict1                         #DICTIONARY COMPREHENSION

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [63]:
dict1={}
for i in range(len(name)):
    dict1[name[i]]=age[i]

dict1                        #DICTIONARY

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [62]:
dict1={name[i]:age[i] for i in range(len(name))}
dict1                          #DICTIONARY COMPREHENSION

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

**LIST COMPREHENSION**

In [65]:
#LIST
list1=[]
for i in range(len(name)):
    list1.append(i)

list1

[0, 1, 2]

In [66]:
#list1
list1=[i for i in range(len(name))]
list1

[0, 1, 2]

In [70]:
#WAP take 5 random numbers and create a dictionary with even&odd
import random
random_number=[random.randint(1,100) for i in range(5)]
num_dict={'even':[],'odd':[]}
for number in random_number:
    if number%2==0:
        num_dict['even'].append(number)
    else:
        num_dict['odd'].append(number)

print("RandomNumber:{random_number}")
print("EvenOddDictionary:{num_dict}")

RandomNumber:{random_number}
EvenOddDictionary:{num_dict}

In [71]:
import os

In [72]:
os.getcwd()

'C:\\Users\\91807\\OneDrive\\Document\\DataScience\\Monika\\DataScience'

**DICTIONARY METHODS**

In [74]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items**

In [75]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1.items()

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [95]:
type(items)

dict_items

**keys**

In [77]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1.keys()

dict_keys(['Ram', 'Raheem', 'Robert'])

In [84]:
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [97]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
keys=d1.keys()
type(keys)

dict_keys

**values**

In [78]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
d1.values()

dict_values([25, 30, 35])

In [98]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}           
values=d1.values()
type(values)

dict_values

In [80]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [99]:
values

dict_values([25, 30, 35])

In [103]:
#convert into a list #need to apply list method
values
list(values)

[25, 30, 35]

In [101]:
values
value_list=list(values)
value_list

[25, 30, 35]

In [102]:
key_list=list(keys)
key_list

['Ram', 'Raheem', 'Robert']

In [105]:
#I will give the dictionary
#can we extract keys@values in a list1:

d1={'Ram':25,
    'Raheem':30,
    'Robert':35}   
keys=list(d1.keys())
values=list(d1.keys())

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [106]:
dict(zip(keys,values))

{'Ram': 'Ram', 'Raheem': 'Raheem', 'Robert': 'Robert'}

In [109]:
#s1='virat.kohli@blr.com, rohit.sharma@mumbai.com, kl.rahul@lucknow.com'
#{'first_name':['virat','rohit','kl'],
#'second_name':['kohli','sharma','rahul'],
#'company':['blr','mumbai','lucknow']}

s1='virat.kohli@blr.com, rohit.sharma@mumbai.com, kl.rahul@lucknow.com'
s1.split(',')

['virat.kohli@blr.com', ' rohit.sharma@mumbai.com', ' kl.rahul@lucknow.com']

In [111]:
str1='virat.kohli@blr.com'
str1.find('.')

5

In [112]:
str1[:5]

'virat'

In [114]:
f_name=str1[:str1.find('.')]
f_name

'virat'

In [115]:
str1.find('@')

11

In [116]:
s_name=str1[str1.find('.')+1:str1.find('@')]
s_name

'kohli'

In [117]:
c_name=str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]
c_name

'blr'

In [120]:
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]

f_name,s_name,c_name

(['virat', ' rohit', ' kl'],
 ['kohli', 'sharma', 'rahul'],
 ['blr', 'mumbai', 'lucknow'])

$words$-$frequency$

In [127]:
#biggest repeated words
str1='can can you canner can you able to can canner'
#{'can':4,'you':2,'canner':2,'able':1,'to':1}
l1=str1.split(' ')
d1={}

for i in l1:
    d1[i]=l1.count(i)

d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [128]:
str1.split(' ')

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [129]:
d1.keys()

dict_keys(['can', 'you', 'canner', 'able', 'to'])

In [130]:
d1.values()

dict_values([4, 2, 2, 1, 1])

In [131]:
keys=list(d1.keys())
values=list(d1.values())
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [133]:
i=max(values)
i

4

In [134]:
values.index(i)

0

In [135]:
keys[0]

'can'

In [136]:
keys[values.index(max(values))]

'can'

In [139]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
#method 1:
d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]

d3

{'a': 70, 'b': 130, 'c': 240}

In [144]:
#method 2:
d1={'a':20,'b':30,'c':40, 'd':500}
d2={'a':50,'b':100,'c':200}

for i in range(min(len(d1), len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]

d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

$clear$-$copy$

In [2]:
#take one dictionary
#take second dictionary
#copy 1st into 2nd dictionary
#clear 1st
#and print both

d1={'a':20,'b':30,'c':40, 'd':500}
d2=d1.copy()
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [3]:
d1={'a':20,'b':30,'c':40, 'd':500}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$pop$-$popitem$-$del$

$#-what is pop?$


       $- is a method or build-in function$

       
       $-will remove specific key and return corresponding value$

       
       $-if the key is not found,return the default if given otherwise raises key error$

       

$#-what is popitem?$


        $- is a method or build-in function$

        
        $-remove and return a (key,value) pair as a tuple$

        
        $-pairs are returned in LIFO order$

        
        $-raises keyError if the dictionary is empty$

        
$#-what is del?$


        $- is a keyword$

        
        $-del can delete the dictionary in 1 shot$

        
        $-it can delete an item by providing specific key$

In [16]:
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [5]:
d2={'a': 20, 'b': 30, 'c': 40, 'd': 500}
d2.pop('a')

20

In [6]:
d2.popitem()

('d', 500)

In [7]:
del[d2]

In [8]:
d2

NameError: name 'd2' is not defined

In [10]:
l1=[10,20,30,40,50]
#del l1[<index>]
del l1[1]

In [11]:
l1

[10, 30, 40, 50]

In [12]:
d2={'a': 20, 'b': 30, 'c': 40, 'd': 500}
d2

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [14]:
d2={'a': 20, 'b': 30, 'c': 40, 'd': 500}
del d2['c']
d2

{'a': 20, 'b': 30, 'd': 500}

In [15]:
del(d2)
d2

NameError: name 'd2' is not defined

In [17]:
d1={'a': 1, 'b': 2, 'c': 3}
del d1['c']

In [18]:
d1

{'a': 1, 'b': 2}

In [19]:
d1.pop('c')

KeyError: 'c'

In [20]:
d1.pop('b')

2

In [21]:
d1.popitem()

('a', 1)

In [24]:
del (d1)

NameError: name 'd1' is not defined

In [23]:
d1

NameError: name 'd1' is not defined

$fromkeys$-$get$

In [25]:
d1={'a': 20, 'b': 30, 'd': 500}
#want to access 30 value
d1['b']

30

In [27]:
d1.get('b')

30

In [28]:
d1.get('z')

In [30]:
d1['z']

KeyError: 'z'

-how many ways we can do

-what output it is returning

-what is the difference

-we can access the values by providing key as index & key in get methods

-but if the key is not present in dictionary, key as index will give keyerror

-get method will not return anything and no error

**fromkeys:**

-it create a new dictionary

-create a new dictionary from the given sequence of elements

-create new dictionary with iterable key

$#something we can print by using for-loop$

In [31]:
d2=d1.fromkeys('Raheem')
d2

{'R': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [32]:
d2=d1.fromkeys('Raheem',25)
d2

{'R': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [33]:
d1

{'a': 20, 'b': 30, 'd': 500}

In [34]:
name='sourav'
name.capitalize()

'Sourav'

In [35]:
name                     #method will not update..........we need to save in some variable

'sourav'

In [36]:
name='sourav'
new=name.capitalize()
name,new

('sourav', 'Sourav')

In [39]:
d3={}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

In [40]:
for i in [1,3,5]:
    print(i)

1
3
5

$set$-$as$-$default$

-return value of the key

-if key is not present returns default

In [42]:
d1={}
d1.setdefault('nareshit','DS')
d1.setdefault('city')
d1

{'nareshit': 'DS', 'city': None}

In [43]:
d2={}
d2['nareshit']='DS'
d2

{'nareshit': 'DS'}

In [44]:
d2={}
d2['nareshit']='DS'
d2['city']
d2

KeyError: 'city'

In [48]:
d1={}
d1.setdefault('nareshit','DS')
d1.setdefault('city')
d1.setdefault('nareshit',['DS','MLops','DE'])
d1['nareshit']=['DS','MLops','DE']
d1.setdefault('city','hyd')
d1

{'nareshit': ['DS', 'MLops', 'DE'], 'city': None}

d1={}
d1.setdefault('city')
d1.setdefault('city','hyd')
d1

$update$

-it inserts the particular items to the dictionary

In [50]:
d1={'a': 1, 'b': 4, 'c': 5}
d2={'b':7, 'd':9}
d1.update(d2)
print(d1)

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

In [52]:
l1=[1,4,5]
l2=[4,9]
l1.extend(l2)
l1                  #list duplicates r allowed but in Dictionary duplicates r not allowed

[1, 4, 5, 4, 9]

In [54]:
d1={'a': 1, 'b': 4, 'c': 5}
d2={'b':7, 'd':9}
d2.update(d1)
print(d2)                 #update method will update a dictionary with elements from another dictionary. It modifies the dictionary.

{'b': 4, 'd': 9, 'a': 1, 'c': 5}

In [55]:
t1=[(1,2),(2,3)]
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}