In [10]:
list1=[1,2,3,4]
list1                                 #we can write numbers

[1, 2, 3, 4]

In [9]:
list2=['A','B','C','D']
list2                                 #we can write strings

['A', 'B', 'C', 'D']

In [4]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [11]:
list4=[1,'Apple',10.5,(10+20j),True]
list4                                              #heterogeneous(different) datatypes are allowed

[1, 'Apple', 10.5, (10+20j), True]

In [12]:
list5=[100,100,100]
list5                                    #duplicates are allowed

[100, 100, 100]

In [8]:
list6=[[1,2,3,4]]
list6                               #list in list also works

[[1, 2, 3, 4]]

**type**

In [13]:
type(list1)

list

In [15]:
type(list2)
type(list3)
type(list4)
type(list5)
type(list6)

list

**max**

In [18]:
max(list1)

4

In [19]:
max(list2)

'D'

In [24]:
max(list3)
                              #error becoz we cant compare different datatypes

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
max(list4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [22]:
max(list5)

100

In [23]:
max(list6)

[1, 2, 3, 4]

**min**

In [25]:
print(min(list1))

1

In [26]:
print(min(list2))

A

In [27]:
print(min(list3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
print(min(list4))

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
print(min(list5))

100

In [30]:
print(min(list6))

[1, 2, 3, 4]

**len**

In [31]:
print(len(list1))

4

In [32]:
print(len(list2))

4

In [33]:
print(len(list3))

8

In [34]:
print(len(list4))

5

In [35]:
print(len(list5))

3

In [36]:
print(len(list6))

1

**sum**

In [38]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [39]:
print(list2)
print(sum(list2))

['A', 'B', 'C', 'D']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**in**

In [40]:
list1

[1, 2, 3, 4]

In [43]:
1 in list1
2 in list1
3 in list1
4 in list1

True

In [45]:
#can we iterate through for-loop?

for i in list1:
    print(i)

1
2
3
4

**concatenation**

In [46]:
list1=[1,2,3,4]
list2=['A','B','C','D']

In [47]:
list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [49]:
list2+list1                        #FIFO

['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [50]:
list1-list2
list1*list2
list1/list2              #GIVES ERROR

TypeError: unsupported operand type(s) for -: 'list' and 'list'

**INDEX**

$python index start with zero$



$list3[0],list3[1],list3[2],list3[3],list3[4],list3[5]$

list3(i)  where i=0,1,2,3,4..............

In [53]:
list3=['A', 'B', 'C', 'D', 1, 2, 3, 4]
for i in range(len(list3)):
    print (i,list3[i])

0 A
1 B
2 C
3 D
4 1
5 2
6 3
7 4

In [54]:
list3[-1]

4

In [56]:
for i in range(len(list3)):
    print('positive index is:{} and negative index is{}:for an element{}'.format(i,i-len(list3),list3[i]))

positive index is:0 and negative index is-8:for an elementA
positive index is:1 and negative index is-7:for an elementB
positive index is:2 and negative index is-6:for an elementC
positive index is:3 and negative index is-5:for an elementD
positive index is:4 and negative index is-4:for an element1
positive index is:5 and negative index is-3:for an element2
positive index is:6 and negative index is-2:for an element3
positive index is:7 and negative index is-1:for an element4

In [59]:
#WAP find the elements which are having len<3

list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list1)):
    #print(list1[i])
    if len(list1[i])<3:
        print(list1[i])

Ab
Cd
Ef

In [60]:
#WAP find the elements which are having #

list1=['A#ple','Bal#','C#t','Ab','Cd','Ef']
for i in list1:
    if '#' in i:
        print(i)

A#ple
Bal#
C#t

In [61]:
#count

list1=['A#ple','Bal#','C#t','Ab','Cd','Ef']
count=0
for i in list1:
    if '#' in i:
        count=count+1

print(count)

3

In [80]:
list1=[[[[['cherry']]]]]
#retrive cherry
list1[0][0][0][0][0]

'cherry'

In [75]:
list2=[1,2,3,['Apple','Ball']]
#retrive ball
#elements:4
list2[3][0]
list2[3][1]             #3=total-1

'Ball'

In [90]:
list3=[[[[[['A','B',[[[1,2,3,['Car']]]]]]]]]]
#retrive car
list3[0][0][0][0][0][2][0][0][3][0]

'Car'

In [93]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

**clear-copy**

In [94]:
list1=[1,2,3,4]
list2=list1.copy()
list2

[1, 2, 3, 4]

In [95]:
list1.clear()

In [96]:
print('list1:',list1)

list1: []

In [97]:
print('list2:',list2)

list2: [1, 2, 3, 4]

**append**
$add something at the end of written documents$

In [100]:
list1=[100,200]  #[100,200,300]
list1.append(300)
list1

[100, 200, 300]

In [107]:
list11=[]
list11.append(100)
list11.append(200)
list11.append(300)               #append exactly takes only 1 argument
list11

[100, 200, 300]

In [105]:
#input list=[1,2,3,4,5]
#create a new list=[1,4,9,16,25]
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [109]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)

output

[1, 4, 9, 16, 25]

In [110]:
list2=['hyderabad','bengaluru','delhi']
for i in list2:
    print(i.capitalize())

Hyderabad
Bengaluru
Delhi

In [113]:
list3=['hyde#abad','beng#luru','delhi']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)

output

['hyde#abad', 'beng#luru']

**list comprehension**

In [114]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)

output

[1, 4, 9, 16, 25]

In [115]:
#list comprehension means code in a single line

output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [116]:
list2=['hyderabad','bengaluru','delhi']
for i in list2:
    print(i.capitalize())

Hyderabad
Bengaluru
Delhi

In [117]:
output1=[i.capitalize() for i in list2]
output1

['Hyderabad', 'Bengaluru', 'Delhi']

In [119]:
for i in range(1,21):
    print(i)                      #create a list of 20 numbers from 1 to 20

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [121]:
for i in range(1,21):
    numbers=[]

for i in range(1,21):
    numbers.append(i)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [124]:
numbers=[i for i in range(1,21)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**list comprehension with if condition**

In [1]:
list3=['hyde#abad','beng#luru','delhi']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)

output

['hyde#abad', 'beng#luru']

In [3]:
output1=[i for i in list3 if '#' in i]   #[<output><for loop><if-condition>]
output1

['hyde#abad', 'beng#luru']

In [4]:
list4=['abcd','abc','ac','a']
#elements less than 3?
#['ac','a']

output=[i for i in list4 if len(i)<3]
output

['ac', 'a']

**if-else condition**

In [5]:
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print("even:{}".format(i))

even:2
even:4
even:6

In [6]:
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print("even:{}".format(i))

    else:
         print("odd:{}".format(i))                       #METHOD 1

odd:1
even:2
odd:3
even:4
odd:5
even:6

In [11]:
#METHOD 2
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))

    else:
         output.append("odd:{}".format(i)) 

output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [13]:
#METHOD 3
#[<if-output><if-condition>else<else-output><for loop>]

["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

**count**

In [14]:
list1=[1,2,3,'A','B','B','C']
list1.count('B')

2

In [17]:
count=0
for i in list1:
    if i=='B':
        count=count+1

print(count)

2

**extend**

In [19]:
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

**extend vs append vs concat**

In [23]:
#extend: will update the list by adding new elements, the result also save in a same list

list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

In [24]:
#append: will add the element at last, that element can be any type

list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3]]

In [25]:
#concat: will add 2 list, but the result will not update in a same list

list1=['A','B','C']
list2=[1,2,3]
list1+list2

['A', 'B', 'C', 1, 2, 3]

**ITERATOR**===================>LOOP==============>STRING, LOOP

**THE ELEMENTS WE CAN PRINT USING FOR LOOP**


SUPPOSE,


**string='python' we can print each letter using for loop**


**list1=[1,2,3] we can print each letter using for loop**

In [26]:
val=reversed('python')
for i in val:
    print(i)

n
o
h
t
y
p

In [27]:
list1=[1,2,3]
list1.extend([1,2,3,4])
list1

[1, 2, 3, 1, 2, 3, 4]

In [28]:
list1=[1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [29]:
list1=[1,2,3]
list1.append('python')
list1

[1, 2, 3, 'python']

In [30]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

**pop-remove-del**

In [37]:
list1=[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.pop()

'python'

In [38]:
list1=[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.pop()
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [39]:
#pop remove the last element and return the item
#inside bracket default argument is there index=-1(last value)
#if i provide any index,it will remove that element
list1.pop(5)

't'

In [41]:
#it is also returning, which element it is removing

list1=[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.pop(list1.index('t'))

't'

**remove**

In [43]:
list1=[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.remove('h')
list1

[1, 2, 3, 'p', 'y', 't', 'o', 'n', 'python']

In [44]:
#remove 1st occurence of value and raises valueerror if the value is not present

list1=[100,200,100,300]    #duplicates are allowed
list1.remove(100)          #1st occurence will gone
list1

[200, 100, 300]

**del**

In [50]:
#del is a keyword(green color)
#apply for strings,list,dictionary
list1=[100,200,100,300] 
del list1[2]
list1

[100, 200, 300]

In [51]:
list1=[100,200,100,300] 
del (list1)
list1

NameError: name 'list1' is not defined

In [52]:
list1=[1,2,3,4,2,6]
f_i=list1.index(2)
list1.index(2,f_i+1)

4

**zip**

In [53]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Robert 30
Raheem 35

In [55]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [56]:
list1=[100,200,300]
list2=[25,30,35]
output=[i+j for i,j in zip (list1,list2)]
output

[125, 230, 335]