In [1]:
num1= 100
num2= 200
num1
num2

200

In [2]:
num1= 100
num2= 200
print (num1)
print (num2)

100
200

In [3]:
print (num1,num2)

100 200

In [4]:
print ('HELLOOOO')
print ('HIIIIIIIIIIII')
print ('HOW')
print ('ARE')
print ('YOU')

HELLOOOO
HIIIIIIIIIIII
HOW
ARE
YOU

In [5]:
print (Hieee)

NameError: name 'Hieee' is not defined

In [6]:
print ('Hieee')

Hieee

In [7]:
print ('HELLOOOO','HIIIIIIIIIIII','HOW','ARE','YOU'

SyntaxError: incomplete input (958250731.py, line 1)

In [8]:
print ('HELLOOOO','HIIIIIIIIIIII','HOW','ARE','YOU')

HELLOOOO HIIIIIIIIIIII HOW ARE YOU

****JOINING MULTIPLE PRINT STATEMENTS*******----------->END Operator

In [9]:
print ('HELLOOOO',end='  ')
print ('HIIIIIIIIIIII',end='  ')
print ('HOW',end='  ')
print ('ARE',end='  ')
print ('YOU',end='  ')

HELLOOOO  HIIIIIIIIIIII  HOW  ARE  YOU

In [10]:
print ('HELLOOOO',end='.............  ')
print ('HIIIIIIIIIIII',end='  ')
print ('HOW',end='  ')
print ('ARE',end='  ')
print ('YOU',end='  ')

HELLOOOO.............  HIIIIIIIIIIII  HOW  ARE  YOU

In [11]:
print ('HELLOOOO',end='............  ')
print ('HIIIIIIIIIIII',end='  ')
print ('HOW',end='  ')
print ('ARE',end='  ')
print ('YOU',end=' ? ')

HELLOOOO............  HIIIIIIIIIIII  HOW  ARE  YOU ?

In [12]:
num1= 100
num2= 200
add= num1+num2
print("the addition of num1&num2 is",add)

the addition of num1&num2 is 300

*******best approach....[.format]

num1= 100
num2= 200
add= num1+num2
print("the addition of {} and {} is",{})

In [14]:
num1= 100
num2= 200
add= num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300

variable name= 'monika'
city= 'hajipur'
age= 28

my naame is monika , i came from hajipur and M 28 YEARS OLD

In [15]:
name= 'monika'
cit= 'hjp'
age= 28
print("my name is monika. I came from hjp N i am 28 years old")

my name is monika. I came from hjp N i am 28 years old

********88best approach*****

In [16]:
name= 'monika'
city= 'hjp'
age= 28
print("my name is {} came from {} N i am {} years old".format(name, city, age))

my name is monika came from hjp N i am 28 years old

step1:value1=20
    2:value2=30
    3:add=value1+value2
      sub=value1-value2
      mul=value1*value2
      div=value1/value2
     the addition of 20 and 30 is: 50
     the subtraction of 20 and 30 is: -10
     the multiplication of 20 and 30 is: 600
     the division of 20 and 30 is: .6666

In [20]:
value1= 20
value2= 30
add= value1+value2
sub= value1-value2
mul= value1*value2
div= round(value1/value2,2)
print("the addition of {} and {} is {}".format(value1,value2,add))
print("the subtraction of {} and {} is {}".format(value1,value2,sub))
print("the multiplication of {} and {} is {}".format(value1,value2,mul))
print("the division of {} and {} is {}".format(value1,value2,div))

the addition of 20 and 30 is 50
the subtraction of 20 and 30 is -10
the multiplication of 20 and 30 is 600
the division of 20 and 30 is 0.67

****NOTE:**********

In [21]:
20/30

0.6666666666666666

//division

In [22]:
20%30

20

//modulus.......remainder

In [23]:
20//30

0

//floor division..........quotient

**********input******

In [24]:
input("enter a number")

enter a number 200

'200'

In [25]:
input("enter some name")

enter some name monika

'monika'

In [1]:
input("what is A for")
input("what is B for")

what is A for APPLE
what is B for BALL

'BALL'

In [2]:
print(name1)

NameError: name 'name1' is not defined

In [3]:
print(name1,name2)

NameError: name 'name1' is not defined

In [4]:
print(what is A for)

what is A for

In [5]:
print(what is A for)

SyntaxError: invalid syntax (3589783131.py, line 1)

In [6]:
val1= input()
val2= input()
add=val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

 45
 43

the addition of 45 and 43 is 4543

45 + 43 = '4543'...........so need to convert string into integer

In [7]:
val1= 100
val2= 200.5

val1= int(input("enter vall1:"))
val2= float(input("enter val2:"))
print(val1+val2)

enter num1: 100
enter num2: 200.3

300.3

val1= 100
val2= 200.5

val1= int(input("enter vall1:"))
val2= float(input("enter val2:"))
print(val1+val2)

******eval

take 3 number from the keyboard and find the sum and average

In [8]:
num1= eval(input("enter num1"))
num2= eval(input("enter num2"))
num3= eval(input("enter num3"))
average= (num1+num2+num3)/3
print("the avg of {},{} & {} is {}".format(num1,num2,num3,average))

enter num1 10
enter num2 20
enter num3 30

the avg of 10,20 & 30 is 20.0

****try except

In [10]:
try:
    num1= eval(input("enter num1"))
    num2= eval(input("enter num2"))
    num3= eval(input("enter num3"))
    average= (num1+num2+num3)/3
    print("the avg of {},{} & {} is {}".format(num1,num2,num3,average))
# except:
#     print("check the code")

      OR
except exception as e  //e is ALIAS name.......anything we can write
print(e)

SyntaxError: expected ':' (3598376331.py, line 9)